aiofiles==0.4.0
aiohttp==3.4.4
beautifulsoup4==4.6.3
Flask==1.0.2
Flask-SocketIO==3.0.2
html5lib==1.0.1
ipython==7.1.1
lxml==4.2.5
pandas==0.23.4
psutil==5.4.7
pymongo==3.7.2
redis==2.10.6
Scrapy==1.5.1
tqdm==4.28.1
urllib3==1.24
urlparse2==1.1.1
virtualenv==16.0.0
yarl==1.2.6
